.step-2-block{
  margin-bottom: 195px;
  form{
    padding: 65px 140px 0 140px;
    padding-bottom: 30px !important;
    background: #ffffff;
    .head-top{
      margin-bottom: 40px;
      font-size: 20px;
      position: relative;
      &:before{
        position: absolute;
        width: 47px;
        height: 47px;
        content: '';
        left: -75px;
        top: -14px;
        background: url(../img/svg/cubi_icon_31_white.svg) no-repeat 6px 0px,#6a7789;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        background-size: 70%;
      }
    }
    li{
      margin-bottom: 50px;
      position: relative;
      input[type="radio"]{
        display: none;
      }
      label{
        font-size: 18px;
        cursor: pointer;
        position: relative;
      }
      label:after{
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        top: -3px;
        left: -40px;
        display: block;
        border: 1px solid #cdcccb;
      }
      input[type="radio"]:checked + label:after{
        background: url(../img/svg/cubi_icon_29.svg) no-repeat -11px -1px;
        background-size: 150%;
      }
      span{
        position: absolute;
        display: block;
        right:0;
        top:0;
        width:100px;
        height:40px;
        font-size:24px;
        text-align: right;
      }
      p{
        font-size: 16px;
        padding-right: 150px;
      }
    }
     .line{
      height: 1px;
      border-bottom: 1px solid #e7e7e7;
    }
     .head-bottom{
       margin-top: 50px;
        margin-bottom: 40px;
        font-size: 20px;
        position: relative;
        &:before{
          position: absolute;
          width: 47px;
          height: 47px;
          content: '';
          left: -75px;
          top: -14px;
          background: url(../img/svg/cubi_icon_35_white.svg) no-repeat 7px 8px,#6a7789;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          background-size: 68%;
        }
      }
     .adress{
       width:100%;
       height:40px;
       padding:0px 5px;
       font-size:16px;
       font-family:"LightIt";
       border:1px solid #e7e6e5;
     }
     .example{
       margin-bottom: 35px;
       margin-top: 5px;
       font-family:"LightIt";
     }
     .phone, .name, .email{
       width:30%;
       height:40px;
       font-size:16px;
       font-family:"LightIt";
       padding:0px 5px;
       border:1px solid #e7e6e5;
     }
     .phone{
       margin: 0px 39px;
     }
     .line-bottom{
       height:5px;
       margin-top:60px;
       margin-bottom: 30px;
       background: url(../img/basket-dotted-line.png) no-repeat center;
     }
     .total-coast{
      text-align: center;
      span:first-child{
        color: #efa621;
        font-size: 25px;
      }
      span:last-child{
        font-size: 25px;
      }
    }
     .button-block{
       text-align: center;
       margin-top: 20px;
       input{
         margin-bottom:20px;
         border:2px solid #eda520;
         background: #ffffff;
         height:40px;
         width:175px;
         text-align: center;
         -webkit-border-radius:25px;
         -moz-border-radius:25px;
         border-radius:25px;
       }
       input:first-child{
         margin-right: 10px;
         border:2px solid #e3e3e3;
       }
       input:last-child{
         margin-left: 10px;
       }
     }
  }
  @media only screen and(max-width: 1199px) and (min-width: 992px){
    form{
      padding: 65px 80px 0 120px;
      background: #ffffff;
      .head-top{
        margin-bottom: 40px;
        font-size: 20px;
        position: relative;
        &:before{
          position: absolute;
          width: 47px;
          height: 47px;
          content: '';
          left: -75px;
          top: -14px;
          background: url(../img/svg/cubi_icon_31_white.svg) no-repeat 6px 0px,#6a7789;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          background-size: 70%;
        }
      }
      li{
        margin-bottom: 50px;
        position: relative;
        input[type="radio"]{
          display: none;
        }
        label{
          font-size: 18px;
          cursor: pointer;
          position: relative;
        }
        label:after{
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          top: -3px;
          left: -40px;
          display: block;
          border: 1px solid #cdcccb;
        }
        input[type="radio"]:checked + label:after{
          background: url(../img/svg/cubi_icon_29.svg) no-repeat -11px -1px;
          background-size: 150%;
        }
        span{
          position: absolute;
          display: block;
          right:0;
          top:0;
          width:100px;
          height:40px;
          font-size:24px;
          text-align: right;
        }
        p{
          font-size: 16px;
          padding-right: 150px;
        }
      }
      .line{
        height: 1px;
        border-bottom: 1px solid #e7e7e7;
      }
      .head-bottom{
        margin-top: 50px;
        margin-bottom: 40px;
        font-size: 20px;
        position: relative;
        &:before{
          position: absolute;
          width: 47px;
          height: 47px;
          content: '';
          left: -75px;
          top: -14px;
          background: url(../img/svg/cubi_icon_35_white.svg) no-repeat 7px 8px,#6a7789;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          background-size: 68%;
        }
      }
      .adress{
        width:100%;
        height:40px;
        padding:0px 5px;
        font-size:16px;
        font-family:"LightIt";
        border:1px solid #e7e6e5;
      }
      .example{
        margin-bottom: 35px;
        margin-top: 5px;
        font-family:"LightIt";
      }
      .phone, .name, .email{
        width:30%;
        height:40px;
        font-size:16px;
        font-family:"LightIt";
        padding:0px 5px;
        border:1px solid #e7e6e5;
      }
      .phone{
        margin: 0px 33px;
      }
      .line-bottom{
        height:5px;
        margin-top:60px;
        margin-bottom: 30px;
        background: url(../img/basket-dotted-line.png) no-repeat center;
      }
      .total-coast{
        text-align: center;
        span:first-child{
          color: #efa621;
          font-size: 25px;
        }
        span:last-child{
          font-size: 25px;
        }
      }
      .button-block{
        text-align: center;
        margin-top: 20px;
        input{
          margin-bottom:20px;
          border:2px solid #eda520;
          background: #ffffff;
          height:40px;
          width:175px;
          text-align: center;
          -webkit-border-radius:25px;
          -moz-border-radius:25px;
          border-radius:25px;
        }
        input:first-child{
          margin-right: 10px;
          border:2px solid #e3e3e3;
        }
        input:last-child{
          margin-left: 10px;
        }
      }
    }
  }
  @media only screen and(max-width: 991px) and (min-width: 768px){
    form{
      padding: 65px 50px 0 100px;
      background: #ffffff;
      .head-top{
        margin-bottom: 40px;
        font-size: 20px;
        position: relative;
        &:before{
          position: absolute;
          width: 47px;
          height: 47px;
          content: '';
          left: -75px;
          top: -14px;
          background: url(../img/svg/cubi_icon_31_white.svg) no-repeat 6px 0px,#6a7789;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          background-size: 70%;
        }
      }
      li{
        margin-bottom: 50px;
        position: relative;
        input[type="radio"]{
          display: none;
        }
        label{
          font-size: 18px;
          cursor: pointer;
          position: relative;
        }
        label:after{
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          top: -3px;
          left: -40px;
          display: block;
          border: 1px solid #cdcccb;
        }
        input[type="radio"]:checked + label:after{
          background: url(../img/svg/cubi_icon_29.svg) no-repeat -11px -1px;
          background-size: 150%;
        }
        span{
          position: absolute;
          display: block;
          right:0;
          top:0;
          width:100px;
          height:40px;
          font-size:24px;
          text-align: right;
        }
        p{
          font-size: 16px;
          padding-right: 150px;
        }
      }
      .line{
        height: 1px;
        border-bottom: 1px solid #e7e7e7;
      }
      .head-bottom{
        margin-top: 50px;
        margin-bottom: 40px;
        font-size: 20px;
        position: relative;
        &:before{
          position: absolute;
          width: 47px;
          height: 47px;
          content: '';
          left: -75px;
          top: -14px;
          background: url(../img/svg/cubi_icon_35_white.svg) no-repeat 7px 8px,#6a7789;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          background-size: 68%;
        }
      }
      .adress{
        width:100%;
        height:40px;
        padding:0px 5px;
        font-size:16px;
        font-family:"LightIt";
        border:1px solid #e7e6e5;
      }
      .example{
        margin-bottom: 35px;
        margin-top: 5px;
        font-family:"LightIt";
      }
      .phone, .name, .email{
        width:100%;
        height:40px;
        font-size:16px;
        font-family:"LightIt";
        padding:0px 5px;
        border:1px solid #e7e6e5;
        margin-bottom: 20px !important;
      }
      .phone{
        margin: 0px !important;
        margin-bottom: 20px !important;
      }
      .line-bottom{
        height:5px;
        margin-top:60px;
        margin-bottom: 30px;
        background: url(../img/basket-dotted-line.png) no-repeat center;
      }
      .total-coast{
        text-align: center;
        span:first-child{
          color: #efa621;
          font-size: 25px;
        }
        span:last-child{
          font-size: 25px;
        }
      }
      .button-block{
        text-align: center;
        margin-top: 20px;
        input{
          margin-bottom:20px;
          border:2px solid #eda520;
          background: #ffffff;
          height:40px;
          width:175px;
          text-align: center;
          -webkit-border-radius:25px;
          -moz-border-radius:25px;
          border-radius:25px;
        }
        input:first-child{
          margin-right: 10px;
          border:2px solid #e3e3e3;
        }
        input:last-child{
          margin-left: 10px;
        }
      }
    }
  }
  @media only screen and(max-width: 767px){
    form{
      padding:0 !important;
      padding-top: 65px !important;
      padding-bottom: 30px !important;
      background: #ffffff;
      .head-top{
        text-align: center;
        margin-bottom: 40px;
        font-size: 20px;
        position: relative;
        &:before{
          position: absolute;
          width: 47px;
          height: 47px;
          content: '';
          left: 0px;
          right: 0px;
          margin: 0px auto;
          top: -55px;
          background: url(../img/svg/cubi_icon_31_white.svg) no-repeat 6px 0px,#6a7789;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          background-size: 70%;
        }
      }
      li{
        padding: 0px 10px;
        margin-bottom: 50px;
        position: relative;
        input[type="radio"]{
          display: none;
        }
        label{
          padding-left: 40px;
          font-size: 18px;
          cursor: pointer;
          position: relative;
        }
        label:after{
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          top: -3px;
          left: 0px;
          display: block;
          border: 1px solid #cdcccb;
        }
        input[type="radio"]:checked + label:after{
          background: url(../img/svg/cubi_icon_29.svg) no-repeat -11px -1px;
          background-size: 150%;
        }
        span{
          position: absolute;
          display: block;
          right: 10px !important;
          top: -7px;
          width:auto !important;
          height:40px;
          font-size:24px;
          text-align: right;
        }
        p{
          font-size: 16px;
          padding-right: 0px !important;
        }
      }
      .line{
        height: 1px;
        border-bottom: 1px solid #e7e7e7;
      }
      .head-bottom{
        margin-top: 85px;
        margin-bottom: 40px;
        font-size: 20px;
        position: relative;
        text-align: center;
        &:before{
          position: absolute;
          width: 47px;
          height: 47px;
          content: '';
          right: 0px;
          left: 0px;
          top: -55px;
          margin: 0px auto;
          background: url(../img/svg/cubi_icon_35_white.svg) no-repeat 7px 8px,#6a7789;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          background-size: 68%;
        }
      }
      .form-inputs{
        text-align: center;
        padding:0px 10px;
      }
      .adress{
        width:100%;
        height:40px;
        padding:0px 5px;
        font-size:16px;
        font-family:"LightIt";
        border:1px solid #e7e6e5;
      }
      .example{
        margin-bottom: 35px;
        margin-top: 5px;
        font-family:"LightIt";
      }
      .phone, .name, .email{
        width:100% !important;
        height:40px;
        font-size:16px;
        font-family:"LightIt";
        margin-bottom:30px !important;
        padding:0px 5px;
        border:1px solid #e7e6e5;
      }
      .phone{
        margin: 0px !important;
        margin-bottom:30px !important;
      }
      .line-bottom{
        height:5px;
        margin-top:20px;
        margin-bottom: 30px;
        background: url(../img/basket-dotted-line.png) no-repeat center;
      }
      .total-coast{
        text-align: center;
        span:first-child{
          color: #efa621;
          font-size: 25px;
        }
        span:last-child{
          font-size: 25px;
        }
      }
      .button-block{
        text-align: center;
        margin-top: 20px;
        input{
          margin-bottom:20px;
          border:2px solid #eda520;
          background: #ffffff;
          height:40px;
          width:175px;
          text-align: center;
          -webkit-border-radius:25px;
          -moz-border-radius:25px;
          border-radius:25px;
        }
        input:first-child{
          margin-right: 0px !important;
          border:2px solid #e3e3e3;
        }
        input:last-child{
          margin-left: 0px !important;
        }
      }
    }
  }
}
