.catalog, .catalog-mobile{
  div:nth-child(1){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_14.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(2){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_13.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(3){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_4.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }

  }
  div:nth-child(4){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_15.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(5){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_3.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(6){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_8.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(7){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_17.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(8){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_6.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(9){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_11.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(10){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_18.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(11){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_5.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(12){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_10.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(13){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_2.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(14){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_19.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(15){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_9.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(16){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_1.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(17){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_7.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(18){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_20.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(19){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_12.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  div:nth-child(20){
    a{
      background: url(../img/svg/SVG_catalog/cubi_icon_16.svg) no-repeat;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}