.contacts-page{
  position: relative;
  h1{
    margin-top:66px;
    z-index: 999;
    font-size:30px;
    text-transform: uppercase;
    position: absolute;
    left:0;
    right:0;
    display: block;
    text-align: center;
  }
  .right{
    padding-right: 0 !important;
    background: url(../img/contacts-right-flowers.png) no-repeat 50% 1%;
    #google-map{
      margin-top:240px;
      height: 665px;
    }
    .contacts-form{
      width:370px;
      margin-left:50px;
      margin-top: 75px;
      input[type="text"],input[type="email"],textarea{
        width:100%;
        padding:5px;
        margin-bottom:35px;
        font-family: "LightIt";
        border:1px solid  #e6e6e6;
      }
      input[type="text"],input[type="email"]{
        height:40px;
      }
      input[type="submit"]{
        width:160px;
        font-size:16px;
        border:2px solid #f0a720;
        background: #ffffff;
        padding:5px 0px;
        -webkit-border-radius:25px;
        -moz-border-radius:25px;
        border-radius:25px;
        margin-bottom:100px;
      }
      textarea{
        height:140px;
        resize: none;
      }
    }
  }
}

@media only screen and(max-width: 1199px) and (min-width: 992px){
 .contacts-page{
   .right{
     padding-left: 0 !important;
   }
 }
}
@media only screen and(max-width: 991px) and (min-width: 768px){
  .contacts-page{
    h1{
      margin-top: 20px !important;
    }
    .right{
      background: none !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      #google-map{
        margin-top: 0px !important;
      }
      .contacts-form{
        width:370px;
        margin:0px auto !important;
        margin-top: 75px !important;
        input[type="text"],input[type="email"],textarea{
          width:100%;
          padding:5px;
          margin-bottom:35px;
          font-family: "LightIt";
          border:1px solid  #e6e6e6;
        }
        input[type="text"],input[type="email"]{
          height:40px;
        }
        input[type="submit"]{
          width:160px;
          font-size:16px;
          border:2px solid #f0a720;
          background: #ffffff;
          padding:5px 0px;
          -webkit-border-radius:25px;
          -moz-border-radius:25px;
          border-radius:25px;
          margin-bottom:100px;
        }
        textarea{
          height:140px;
          resize: none;
        }
      }
    }
  }
}
@media only screen and(max-width: 767px){
  .contacts-page{
    h1{
      margin-top: 20px !important;
    }
    .right{
      background: none !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      #google-map{
        margin-top: 0px !important;
      }
      .contacts-form{
        width:100%;
        padding:0px 15px !important;
        margin:0px auto !important;
        margin-top: 75px !important;
        input[type="text"],input[type="email"],textarea{
          width:100%;
          padding:5px;
          margin-bottom:35px;
          font-family: "LightIt";
          border:1px solid  #e6e6e6;
        }
        input[type="text"],input[type="email"]{
          height:40px;
        }
        input[type="submit"]{
          width:160px;
          font-size:16px;
          border:2px solid #f0a720;
          background: #ffffff;
          padding:5px 0px;
          -webkit-border-radius:25px;
          -moz-border-radius:25px;
          border-radius:25px;
          margin-bottom:100px;
        }
        textarea{
          height:140px;
          resize: none;
        }
      }
    }
  }
}