.new-goods, .goods{
  margin-top: 20px;
  h3{
    margin-bottom: 55px;
  }
  .item{
    transition:0.4s;
    overflow: hidden;
    margin:0px auto;
    width: 100%;
    max-width:350px;
    border:5px solid #ededed;
    position: relative;
    margin-bottom: 30px;
    img{
      width:100%;
      margin-bottom: 20px;
    }
    .amount{
      font-family: "Regular";
      font-size:14px;
    }
    p{
      font-family: "LightIt";
      font-size:14px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .item-panel{
      transition:0.4s;
      padding: 10px;
      position: absolute;
      background: #fff;
      left:0;
      right:0;
      bottom: -60px;
      .item-title{
        font-family: "Light";
        font-size:20px;
      }
      .item-comments{
        position: relative;
        text-decoration: none;
        color: inherit;
        position: absolute;
        right: 30px;
        top: 44px;
        font-family: "Light";
        font-size: 20px;
      }
      .item-comments:after{
        position: absolute;
        content: '';
        display: block;
        width: 22px;
        height: 23px;
        top: 4px;
        right: -20px;
        background: url(../img/svg/cubi_icon_28.svg) no-repeat -6px -2px;
        background-size: 140%;
      };
      .rating{
        margin-top: 10px;
        margin-bottom: 20px;
        span{
          display: inline-block;
          width:20px;
          height:20px;
        }
        .pick{
          background: url(../img/svg/cubi_icon_47.svg) no-repeat -2px -3px;
          background-size: 113%;
        }
        .not-pick{
          background: url(../img/svg/cubi_icon_47_hover.svg) no-repeat -2px -3px;
          background-size: 113%;
        }
      }
      input[type="number"]{
        width: 50px;
        height:40px;
        font-size:20px;
        padding: 0 0 0 5px;
      }
      .total-cost{
        position: absolute;
        right: 10px;
        font-size: 24px;
        font-family: 'Light';
        top: 95px;
      }
      input[type="submit"]{
        background: #f1a61f;
        border:none;
        color:#fff;
        padding: 12px 31px;
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        border-radius:20px;
        margin: 0px auto;
        margin-bottom: 5px;
        display: block;
        border: 1px solid #e0950f;
        font-family: "Regular";
        &:hover{
          background: #e79707;
        }
      }
      .hidden-block{
        //display: none;
        .like{
          cursor: pointer;
          right: 40px;
          bottom: 16px;
          height:40px;
          width:40px;
          display: block;
          position: absolute;
          border-radius: 50%;
          text-align: center;
          &:hover{
            background: url(../img/svg/cubi_icon_40_hover.svg) no-repeat 1px 2px;
            background-size: 90%;
            border:2px solid #f1a61f;
          }
        }
        .like-pick{
          width:40px;
          height:40px;
          background: url(../img/svg/cubi_icon_40_pick.svg) no-repeat 1px 2px, #f1a61f;
          background-size: 90%;
          border:2px solid #f1a61f;

        }
        .like-not-pick{
          width:40px;
          height:40px;
          background: url(../img/svg/cubi_icon_40.svg) no-repeat 1px 2px;
          background-size: 90%;
          border:2px solid #b1b0b1;
        }
      }
    }
  }
  .item:hover{
    border:5px solid $orangeColor;
   .item-panel{
     bottom:0;
   }
  }
  .load-more{
    text-decoration: underline;
    color: inherit;
  }
  .catalog-button{
    text-decoration: none;
    width: 120px;
    display: block;
    margin: 26px auto 0;
    background: #f1a61f;
    border: 1px solid #e0950f;
    color: #fff;
    padding: 12px 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family: "Regular";
    &:hover{
       background: #e79707;
    }
  }
}
@media only screen and(max-width: 767px){
  .new-goods{
    .hidden-block{
      .like{
        right:8% !important;
      }
    }
  }
}