// carousel animation
.carousel.fade{
  opacity: 1;
}
.carousel.fade .item{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity .5s;
}
.carousel.fade .item.active{
  position: relative;
  opacity: 1;
}

//main carousel
#сarousel{
  margin-top:90px;
  height:calc(100vh - 90px);
  .carousel-indicators{
    left: 0;
    bottom: 45px;
    text-align: inherit;
    li{
      background: #fff;
      margin: 0 8px;
        cursor: default !important;
    }
  }
  .carousel-inner {
    height: 100%;
    .title-block{
      z-index: 998;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0px auto;
      text-align: center;
      width:100%;
      h2{
        font-family: "Medium";
        margin-bottom: 0px;
        font-size:30px;
        color: $orangeColor;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      img{
        margin-bottom: 10px;
      }
    }
    .item{
      height: 100%;
      .slide{
        height: 100%;
        background-size: cover !important;
      }
    }
  }
  .back{
    display: block;
    position: absolute;
    bottom: 30px !important;
    left:41%;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    span{
      display: block;
      height:100%;
      width:100%;
      border-radius: 50%;
      background: url(../img/svg/cubi_icon_53.svg) no-repeat 0px 0px , #fff;
    }
  }
  .back:hover{
    span{
      background: url(../img/svg/cubi_icon_54.svg) no-repeat 0px 0px, #fff;
    }
  }
  .forward{
    display: block;
    position: absolute;
    width: 60px;
    right:41%;
    bottom: 30px !important;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    span{
      transform: rotate(180deg);
      display: block;
      height:100%;
      width:100%;
      border-radius: 50%;
      background: url(../img/svg/cubi_icon_53.svg) no-repeat 0px 0px , #fff;
    }
  }
  .forward:hover{
    span{
      transform: rotate(180deg);
      background: url(../img/svg/cubi_icon_54.svg) no-repeat 0px 0px, #fff;
    }
  }
  @media only screen and(min-width: 1200px){
    .title-block{
      top:33%;
      img{
        width:150px;
      }
    }
    .carousel-indicators{
      width: 8%;
      margin: 0 46.5%;
    }
    .back{
      left:41%;
    }
    .forward{
      right:41%;
    }
  }
  @media only screen and(max-width: 1199px) and (min-width: 992px){
    .carousel-indicators{
      width: 10%;
      margin: 0 46%;
    }
    .title-block{
      top:30%;
      img{
        width:150px;
      }
    }
    .back{
      left:39%;
    }
    .forward{
      right:39%;
    }
  }
  @media only screen and(max-width: 991px) and (min-width: 768px){
    .title-block{
      top:34%;
      img{
        width:150px;
      }
    }
    .carousel-indicators{
      width: 100px;
      margin: 0px auto;
      left: 0;
      right: 0;
      text-align: center;
    }
    .back{
      left:35%;
    }
    .forward{
      right:35%;
    }
  }
  @media only screen and(max-width: 767px){
    .title-block{
      top:35%;
      img{
        width:150px;
      }
    }
    .carousel-indicators{
      width: 100px;
      margin: 0px auto;
      left: 0;
      right: 0;
      text-align: center;
    }
    .back{
      left:15%;
    }
    .forward{
      right:15%;
    }
    .carousel-inner{
    }
  }
}
@media only screen and(max-width: 767px) {
  #сarousel {
    height: calc(100vh - 90px);
  }
}
