.about-homepage{
  .content{
    margin-top: 60px;
    padding-top: 170px;
    .head{
      width: 72px;
      height: 35px;
      margin:0px auto;
      margin-bottom: 50px;
      p{
        font-size:30px;
        font-family: 'CoreSans';
      }
    }
    .text{
      margin:0px auto;
      text-align: center;
      margin-bottom:50px;
      font-size: 16px;
      font-family: "Light";
    }
    a{
      width:150px;
      margin: 0px auto;
      display: block;
      padding-bottom:185px;
      text-align: center;
      text-decoration: underline;
      color: #f0a924;
      font-size: 16px;
      font-family: "LightIt";
    }
  }
}
@media only screen and(min-width: 1200px){
  .about-homepage{
    .content{
      margin-top: 60px;
      padding-top: 170px;
      background: url(../img/home-page-about-bg.png) no-repeat center;
      .head{

      }
      .text{
        width:540px;
      }
      a{

      }
    }
  }
}
@media only screen and(max-width: 1199px) and (min-width: 992px){
  .about-homepage{
    .content{
      margin-top: 60px;
      padding-top: 170px;
      background: url(../img/home-page-about-bg.png) no-repeat center;
      .head{

      }
      .text{
        width:540px;
      }
      a{

      }
    }
  }
}
@media only screen and(max-width: 991px) and (min-width: 768px) {
  .about-homepage {
    .content {
      width: 95%;
      margin: 0px auto;
      margin-top: 60px;
      padding-top: 170px;
      background: url(../img/homepage-about-bg-sm.png) no-repeat center;
      .head {

      }
      .text {
        width: 80%;
      }
      a {

      }
    }
  }
}
@media only screen and(max-width: 767px) {
  .about-homepage {
    .content {
      margin-top: 60px;
      padding-top: 170px;
      background: url(../img/homepage-about-bg-sm.png) no-repeat center;
      .head {

      }
      .text {

      }
      a {

      }
    }
  }
}