.comments-homepage{
  margin-bottom: 40px;
  h3{
    text-align: center;
    margin-bottom: 43px;
  }
  #comments-carousel{
    .carousel-inner{
      .item{
        .avatar{
          position: relative;
          text-align: center;
          background: url(../img/svg/cubi_icon_31.svg) no-repeat center;
          img{
            position: absolute;
            display: block;
          }
        }
        .col-md-8{
          .name{
            font-family: 'Light';
            font-size: 20px;
          }
          .stars{
            margin-top: 24px;
            margin-bottom: 17px;
            span{
              display: inline-block;
              width:20px;
              height:20px;
            }
            .pick{
              background: url(../img/svg/cubi_icon_46_pick.svg) no-repeat center;
              background-size: 130%;
            }
            .not-pick{
              background: url(../img/svg/cubi_icon_46.svg) no-repeat center;
              background-size: 130%;
            }
          }
        }
      }
    }
    .carousel-control {
      width:40px !important;
      height:40px !important;
      opacity: 1 !important;
      display: block;
    }
    .left{
      background: url(../img/icon/slider-arrow-left.gif) no-repeat center;
    }
    .right{
     background: url(../img/icon/slider-arrow-right.gif) no-repeat center;
    }
  }
  .buttons{
    margin-top: 30px;
    .do-comment{
      text-decoration: none;
      color: inherit;
      padding:10px 24px;
      border: 2px solid $orangeColor;
      border-radius: 20px;
      margin-right:15px;
      font-family: "Light";
      font-size:16px;
      &:hover{
        background: #f0a720;
        color: #ffffff;
      }
    }
    .do-comment:hover{
      text-decoration: none;
    }
    .more-comment{
      text-decoration: underline;
      color: $orangeColor;
      font-family: "LightIt";
      font-size:16px;
    }
  }
  .comment{
    font-family: "Light";
    font-size: 16px;
  }
}
@media only screen and(min-width: 1200px){
  .comments-homepage{
    #comments-carousel{
      .carousel-inner{
        .item{
          .avatar{
            height:243px;
            background-size: 130%;
            img{
              width: 150px;
              top: 82px;
              left: 52px;
            }
          }
          .col-md-8{
            min-height:150px;
            margin-top: 50px;
            .name{
              font-family: 'Light';
              font-size: 20px;
            }
          }
        }
      }
      .carousel-control {
        top: 120px;
      }
      .left{
        left:-50px;
      }
      .right{
        right:-50px;
      }
    }
  }
}
@media only screen and(max-width: 1199px) and (min-width: 992px){
  .comments-homepage{
    h3{
      text-align: center;
    }
    #comments-carousel{
      .carousel-inner{
        .item{
          .avatar{
            height:243px;
            background-size: 161%;
            img{
              width: 150px;
              top: 82px;
              left: 29px;
            }
          }
          .col-md-8{
            margin-top: 50px;
            .name{
              font-family: 'Light';
              font-size: 20px;
            }
            .comment{
              min-height:150px;

            }

          }
        }
      }
      .carousel-control {
        width:40px !important;
        height:40px !important;
        opacity: 1 !important;
        display: block;
        top: 120px;
      }
      .left{
        left: -50px;
      }
      .right{
        right:-50px;
      }
    }
    .col-md-12{
      margin-top: 25px;
      .do-comment{
        border-radius: 20px;
        padding: 10px;
        text-decoration: none;
        color: #6e6e6f;
        border:2px solid #f0a720;
      }
      .more-comment{
        color: #f0a720;
        font-style: italic;
        text-decoration: underline;
        margin-left: 10px;
      }
    }
  }

}
@media only screen and(max-width: 991px) and (min-width: 768px) {
  .comments-homepage{
    h3{
      text-align: center;
    }
    #comments-carousel{
      .carousel-inner{
        .item{
          .avatar{
            height: 243px;
            background-size: 41%;
            img{
              width: 150px;
              top: 82px;
              left: 296px;
            }
          }
          .col-md-8{
            margin-top: 20px;
            text-align: center;
            .name{
              font-family: 'Light';
              font-size: 20px;
            }
            .comment{
              min-height: 150px;
            }
          }
        }
      }
      .carousel-control {
        width:40px !important;
        height:40px !important;
        opacity: 1 !important;
        display: block;
        top: 120px;
      }
      .left{
        left: 100px;
      }
      .right{
        right: 100px;
      }
    }
    .col-md-12{
      margin-top: 25px;
      .do-comment{
        border-radius: 20px;
        padding: 10px;
        text-decoration: none;
        color: #6e6e6f;
        border:2px solid #f0a720;
      }
      .more-comment{
        color: #f0a720;
        font-style: italic;
        text-decoration: underline;
        margin-left: 10px;
      }
    }
    .buttons{
      div{
        text-align: center;
      }
    }
    .col-sm-8{
      margin:0px auto;
      float: none;
    }
  }

}
@media only screen and(max-width: 767px) {
  .comments-homepage{
    margin-top: -100px;
    h3{
      text-align: center;
    }
    #comments-carousel{
      .carousel-inner{
        .item{
          .avatar{
            max-width: 290px;
            margin: 0px auto;
            height: 243px;
            background-size: 85%;
            img{
              width: 114px;
              top: 94px;
              left: 98px;
            }
          }
          .col-md-8{
            margin-top: 0px;
            .name{
              font-family: 'Light';
              font-size: 20px;
            }
          }
        }
      }
      .carousel-control {
        width:40px !important;
        height:40px !important;
        opacity: 1 !important;
        display: block;
        top: 120px;
      }
      .left{
        left: 20px;
      }
      .right{
        right:20px;
      }
    }
    .col-sm-12{
      margin-top: 25px;
      .do-comment{
        border-radius: 20px;
        padding: 10px;
        text-decoration: none;
        color: #6e6e6f;
        border:2px solid #f0a720;
      }
      .more-comment{
        color: #f0a720;
        font-style: italic;
        text-decoration: underline;
        margin-left: 10px;
      }
    }
  }
  .col-sm-8{
    text-align: center;
  }
  .comment{
    min-height: 150px;
  }
  .buttons{
    text-align: center;
  }
}