.discount-homepage{
  position: relative;
  h3{
    text-align: center;
  };
  a{
    display: block;
    background: #337ab7;
    width: 160px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin:0px auto;
    color:#fff;
    font-size: 16px;
    font-family: "Regular";
  }
}
@media only screen and(min-width: 1200px){
  .discount-homepage{
    margin-top: 75px;
    background: url(../img/discount-bg-homepage.png) no-repeat center;
    .col-md-12{
      height: 390px;
    }
    h3{
      margin-bottom: 75px;
    };
    a{
      margin-top: 80px;
    }
    .col-md-12:after{
      content: '';
      height: 2px;
      position: absolute;
      z-index: 999;
      width: 100%;
      bottom: 70px;
      background: url(../img/_discount-line.png) repeat-x 0px 0px;
      transform: skewY(-0.9deg);
    }
  }
}
@media only screen and(max-width: 1199px) and (min-width: 992px){
  .discount-homepage{
    margin-top: 75px;
    background: url(../img/discount-bg-homepage.png) no-repeat center;
    .col-md-12{
      height: 390px;
    }
    h3{
      margin-bottom: 75px;
    };
    a{
      margin-top: 80px;
    }
    .col-md-12:after{
      content: '';
      height: 2px;
      background: url(../img/_discount-line.png) repeat-x 0px 0px;
      position: absolute;
      z-index: 999;
      width: 100%;
      bottom: 70px;
      transform: skewY(-0.9deg);
    }
  }
}
@media only screen and(max-width: 991px) and (min-width: 768px){
  .discount-homepage{
    margin-top: 75px;
    background: url(../img/discount-bg-sm-homepage.png) no-repeat center;
    .col-md-12{
      overflow: hidden;
      height: 390px;
    }
    h3{
      margin-top: 25px;
      margin-bottom: 75px;
    };
    a{
      margin-top: 80px;
    }
    .col-md-12:after{
      content: '';
      height: 2px;
      background: url(../img/_discount-line.png) repeat-x 0px 0px;
      position: absolute;
      z-index: 999;
      width: 100%;
      bottom: 70px;
      transform: skewY(-1.1deg);
    }
  }
}
@media only screen and(max-width: 767px){
  .discount-homepage{
    margin-top: 50px;
    background: url(../img/discount-bg-xs-homepage.png) no-repeat center;
    background-size: 100%;
    .col-md-12{
      height: 410px;
    }
    h3{

    };
    a{
      margin-top: 35px;
    }
  }
}