.load-more-block{
  width:200px;
  margin: 0px auto;
  text-align: center;
  position: relative;
  margin: 0px auto;
  margin-bottom: 50px;
  a{
    position: relative;
    text-decoration: underline;
    color: #6e6e6f;
    span{
      background: url(../img/svg/cubi_icon_48.svg) no-repeat center;
      width: 30px;
      height: 30px;
      position: absolute;
      left: -32px;
      top: -6px;
    }
    .full-rotate{
      transform: rotate(1440deg);
      -webkit-transition: 3s ease-in-out;
      -moz-transition: 3s ease-in-out;
      -ms-transition: 3s ease-in-out;
      -o-transition: 3s ease-in-out;
      transition: 3s ease-in-out;
    }
  }
}