@import "bootstrap.scss";
@import "variable.scss";
@import "theme.scss";
@import "navbar.scss";
@import "homepage-slider-main";
@import "footer.scss";
@import "catalog-icon.scss";
@import "homepage-catalog-mobile";
@import "homepage-about";
@import "homepage-new-goods";
@import "homepage-discount";
@import "homepage-comments";
@import "homepage-subscribe";
@import "homepage-slider-popular";
@import "homepage-slider-news";
@import "homepage-welcome";
@import "modals.scss";
@import "componets.scss";
@import "about-top-block";
@import "about-content.scss";
@import "discount-top-line.scss";
@import "discount-5-percent.scss";
@import "discount-15-percent.scss";
@import "discount-10-percent.scss";
@import "news-tp.scss";
@import "news-subscribe.scss";
@import "news-items.scss";
@import "load-more.scss";
@import "news-article.scss";
@import "news-comments-item";
@import "new-article-comments-items.scss";
@import "reviews-title.scss";
@import "reviews-items.scss";
@import "reviews-add-comment.scss";
@import "contacts-page-left.scss";
@import "contacts-page-right.scss";
@import "basket-step-1.scss";
@import "basket-step-2.scss";