.fixed-top{
  position: fixed;
  left:0;
  right: 0;
  top:0;
  z-index: 1000;
  background: #fff;
  border-bottom:1px solid #ededed;
}
.catalogButton{
  span{
    position: absolute;
    width:20px;
    height:20px;
    top: -1px;
    left: -20px;
    display: block;
  }
  .catalog-open{
    background: url(../img/svg/cubi_icon_57.svg) no-repeat center;
    transform: rotate(180deg);
    background-size: 70%;
  }
  .catalog-close{
    background: url(../img/svg/cubi_icon_57.svg) no-repeat center;
    background-size: 70%;
  }
}
.header{
  background: white;
  position: relative;
  padding-bottom: 5px;
  height:90px;
  .phone-top:hover{
    text-decoration: none;
  }
  .phone-top:focus{
    text-decoration: none;
  }
  .catalog{
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 7px -5px #000;
    a{
      font-family: "Light";
      color: #525352;
      text-decoration: none;
      font-size: 16px;
      display: block;
      background: red;
      border-radius: 20px;
      margin: 0px auto;
      padding: 9px 5px 9px 40px;
      margin-bottom: 5px;
    }
  }
  .triangle{
    position: relative;
    box-shadow:0px 6px 7px -5px black;
  }
  .enter-account{
    position: absolute;
    display: block;
    border:2px solid #f0a924;
    width:70px;
    font-size:13px;
    text-align: center;
    padding:5px 0;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    text-decoration: none;
    color:inherit;
  }
  .room{
    position: absolute;
    display: block;

    width:70px;
    font-size:13px;
    text-align: center;
    padding:5px 0;

    text-decoration: none;
    color:inherit;
  }
  .enter-mobile{
    border: 2px solid #f0a924;
    width: 80px;
    text-align: center;
    padding: 5px 12px 9px 12px !important;
    -webkit-border-radius: 20px;
    text-transform: none !important;
  }
  .logo-desktop{
    img{
      width:93px;
    }
    &:hover{
      border-bottom:0px !important;
    }
  }
  .catalogButton-mobile{
    text-decoration: none;
    position: absolute;
    top: 35px;
    color:#6e6e6f;
    font-family: "Light";
    text-transform: uppercase;
    font-size: 13pt;
    span{
      position: absolute;
      width:20px;
      top: 1px;
      left: -24px;
      height:20px;
    }
    .catalog-open{
      background: url(../img/svg/cubi_icon_57.svg) no-repeat center;
      transform: rotate(180deg);
      background-size: 90%;
    }
    .catalog-close{
      background: url(../img/svg/cubi_icon_57.svg) no-repeat center;
      background-size: 90%;
    }
    &:hover{
      text-decoration: none;
    }
  }
  @media only screen and(min-width: 1200px){
    .menu-top{
      margin-left: 50px;
      li{
        display: inline-block;
        margin: 38px 25px 0 25px;
        vertical-align: text-top;
        &:hover{
          border-bottom: 2px solid #f1a61f;
        }
        a{
          user-select: none;
          font-family: "Light";
          font-size:14px;
          color: #6e6e6f;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
      li:nth-child(5){
        margin-top: 10px;
      }
      li:nth-child(4){
        position: relative;
        span{
          left: -20px;
          top: -1px;
          position: absolute;
          display: block;
          background: url(../img/svg/cubi_icon_45_percent.svg) no-repeat 0 0;
          width:20px;
          height:20px;
        }
      }
    }
    .phone-top{
      right: 3%;
      position: absolute;
      top:100px;
      font-size:15pt;
      border-radius: 16px;
      padding: 0px 15px 0px 30px;
      background: url(../img/svg/cubi_icon_50.svg) no-repeat 4px 1px, #eda520;
      span{
        color: #fff;
        font-size:13pt;
        font-family: "Medium";
      }
    }
    .search-button{
      position: absolute;
      display: block;
      width:32px;
      height:32px;
      background: url(../img/svg/cubi_icon_search.svg) no-repeat 2px 0px, #f2f2f2;
      border-radius: 100%;
      right: 200px;
      top: 30px;
    }

    .search-button-active{
      position: absolute;
      display: block;
      width:32px;
      height:32px;
      background: url(../img/svg/cubi_icon_search_active.svg) no-repeat 2px 0px, rgb(240, 167, 32);
      border-radius: 100%;
      right: 200px;
      top: 30px;
    }

    .catalog{
      box-shadow: 0 4px 7px -5px #000;
      bottom:-265px;
      a{
        width:85%;
      }
    }
    .triangle{
      position: absolute;
      width: 100%;
      bottom: -20px;
      height: 30px;
      background: #fff;
      transform: skewY(-1deg);
    }
    .card-top{
      position: absolute;
      display: block;
      background: url(../img/svg/cubi_icon_52.svg) no-repeat left;
      height: 30px;
      width: 75px;
      top: 30px;
      right: 26px;
      .total-goods{
        position: absolute;
        left: 14px;
        display: block;
        top: -2px;
        background: #eda520;
        height: 22px;
        width: 22px;
        font-size:12pt;
        font-family: "Medium";
        text-align: center;
        border-radius: 50%;
        color: #fff;
      }
      .total-price{
        position: absolute;
        right: -10px;
        top: 3px;
        font-size: 16px;
        font-family: "Regular";
      }
    }
    .enter-account{
      right: 110px;
      top: 30px;
    }
    .room{
      right: 110px;
      top: 30px;
    }
    .catalogButton{
      position: relative;
    }
  }
  @media only screen and(max-width: 1199px) and (min-width: 992px){
    .menu-top{
      margin-left: 58px;
      li{
        display: inline-block;
        margin: 38px 13px 0 13px;
        vertical-align: text-top;
        a{
          user-select: none;
          font-family: "Light";
          font-size:14px;
          color: #6e6e6f;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
      li:nth-child(5){
        margin-top: 10px;
      }
    }
    .phone-top{
      right: 4%;
      position: absolute;
      top:100px;
      font-size:15pt;
      border-radius: 16px;
      padding: 0px 15px 0px 30px;
      background: url(../img/svg/cubi_icon_50_mobile.svg) no-repeat 4px 1px, #eda520;
      span{
        color: #fff;
        font-size:13pt;
        font-family: "Medium";
      }
    }
   
    .search-button{
      position: absolute;
      display: block;
      width:32px;
      height:32px;
      background: url(../img/svg/cubi_icon_search.svg) no-repeat 2px 0px, #f2f2f2;
      border-radius: 100%;
      right: 200px;
      top: 30px;
    }

    .search-button-active{
      position: absolute;
      display: block;
      width:32px;
      height:32px;
      background: url(../img/svg/cubi_icon_search_active.svg) no-repeat 2px 0px, rgb(240, 167, 32);
      border-radius: 100%;
      right: 200px;
      top: 30px;
    }



    .catalog{
      bottom: -355px;
      box-shadow: 0 4px 7px -5px #000;
      a{
        width:85%;
      }
    }
    .triangle{
      position: absolute;
      width: 100%;
      bottom: -20px;
      height: 30px;
      background: #fff;
      transform: skewY(-1deg);
    }
    .card-top{
      position: absolute;
      display: block;
      background: url(../img/svg/cubi_icon_52.svg) no-repeat left;
      height: 30px;
      width: 75px;
      top: 30px;
      right: 26px;
      .total-goods{
        position: absolute;
        left: 14px;
        display: block;
        top: -2px;
        background: #eda520;
        height: 22px;
        width: 22px;
        font-size:12pt;
        font-family: "Medium";
        text-align: center;
        border-radius: 50%;
        color: #fff;
      }
      .total-price{
        position: absolute;
        right: -10px;
        top: 3px;
        font-size: 16px;
        font-family: "Regular";
      }
    }
    .enter-account{
      right: 115px;
      top: 30px;
    }
    .room{
      right: 115px;
      top: 30px;
    }
    .catalogButton{
      position: relative;

    }
  }
  @media only screen and(max-width: 991px) and (min-width: 768px){
    .catalog{
      bottom: -355px;
      a{
        width:100%;
      }
    }
    .triangle{
      position: absolute;
      width: 100%;
      bottom: -20px;
      height: 30px;
      background: #fff;
      transform: skewY(-1deg);
    }
    .logo-mobile{
      position: absolute;
      display: block;
      left: 0;
      width: 95px;
      right: 0;
      margin: 0px auto;
      margin-top: 10px;
    }
    .enter-account{
      top:0;
      right:0;
      top: 30px;
      right: 130px;
    }

    .phone-top{
      position: absolute;
      top:30px;
      left: 33%;
      width:32px;
      height:32px;
      background: url(../img/svg/cubi_icon_50_mobile.svg) no-repeat -5px -6px;
      background-size: 122%;
      span{
        display: none;
      }
    }
    .card-top{
      position: absolute;
      display: block;
      background: url(../img/svg/cubi_icon_52.svg) no-repeat left;
      height: 30px;
      width: 75px;
      top: 32px;
      right: 26px;
      .total-goods{
        position: absolute;
        left: 14px;
        display: block;
        top: -2px;
        background: #eda520;
        height: 22px;
        width: 22px;
        font-size:12pt;
        font-family: "Medium";
        text-align: center;
        border-radius: 50%;
        color: #fff;
      }
      .total-price{
        position: absolute;
        right: -10px;
        top: 3px;
        font-size: 16px;
        font-family: "Regular";
      }
    }
    .search-button{
      position: absolute;
      display: block;
      width:32px;
      height:32px;
      background: url(../img/svg/cubi_icon_search.svg) no-repeat 2px 0px, #f2f2f2;
      border-radius: 100%;
      right: 33%;
      top: 30px;
    }

    .search-button-active{
      position: absolute;
      display: block;
      width:32px;
      height:32px;
      background: url(../img/svg/cubi_icon_search_active.svg) no-repeat 2px 0px, rgb(240, 167, 32);
      border-radius: 100%;
      right: 33%;
      top: 30px;
    }

    .mobile-menu-button{
      position: absolute;
      top:35px;
      left:5%;
      span{
        display: block;
        position: absolute;
        width:30px;
        height:30px;
        top: -3px;
      }
      .mobile-menu-close{
        background: url(../img/svg/cubi_icon_55.svg) no-repeat center;
        background-size: 100%;
      }
      .mobile-menu-open{
        background: url(../img/svg/cubi_icon_56.svg) no-repeat center;
        background-size: 100%;
      }
    }
    .catalogButton-mobile{
      left: 16%;
      position:relative;
      span{
        position: absolute;
        width:20px;
        height:20px;
        display: block;
        top: 1px;
        left: -22px;
      }
    }

    .mobile-menu{
      position: absolute;
      background: #fff;
      width: 80%;
      top: 90px;
      left: 0;
      margin: 0px auto;
      right: 0;
      ul{
        margin-top: 30px;
        li{
          text-align: center;
          margin-bottom: 30px;
          a{
            text-decoration: none;
            text-transform: uppercase;
            color: #6e6e6f;
            font-size:16px;
          }
        }
        li:nth-child(5){
          position: relative;
          span{
              left: 40%;
              top: 1px;
              position: absolute;
              display: block;
              background: url(../img/svg/cubi_icon_45_percent.svg) no-repeat 0 0;
              width:20px;
              height:20px;
          }
        }
      }
      .triangle-mobile{
        position: absolute;
        width: 100%;
        bottom: -20px;
        height: 30px;
        background: #fff;
        transform: skewY(-1deg);
      }
    }
  }
  @media only screen and(max-width: 767px){
    .phone-top{
      position: absolute;
      top: 30px;
      left: 20%;
      width: 32px;
      height: 32px;
      background: url(../img/svg/cubi_icon_50_mobile.svg) no-repeat -5px -6px;
      background-size: 122%;
      span{
        color: $orangeColor;
        font-size:13pt;
        font-family: "Medium";
      }
    }
    .search-button{
      position: absolute;
      display: block;
      width:32px;
      height:32px;
      background: url(../img/svg/cubi_icon_search.svg) no-repeat 2px 0px, #f2f2f2;
      border-radius: 100%;
      right: 20%;
      top: 30px;
    }

    .search-button-active{
      position: absolute;
      display: block;
      width:32px;
      height:32px;
        background: url(../img/svg/cubi_icon_search_active.svg) no-repeat 2px 0px, rgb(240, 167, 32);
      border-radius: 100%;
      right: 20%;
      top: 30px;
    }
    

    .logo-mobile{
      position: absolute;
      display: block;
      left: 0;
      width: 95px;
      right: 0;
      margin: 0px auto;
      margin-top: 10px;
    }
    .enter-account{
      top:0;
      right:0;
      top: 30px;
      right: 130px;
    }
    .phone-mobile{
      text-align: center;
      font-size: 20px;
      padding-top: 1px;
      position: absolute;
      display: block;
      width: 30px;
      background: #e0922e;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;
      height: 30px;
      top: 30px;
      left: 23%;
      i {
        color: #fff;
      }
    }
    .mobile-menu-button{
      position: absolute;
      top:35px;
      left:5%;
      span{
        display: block;
        position: absolute;
        width:30px;
        height:30px;
        top:-3px;
      }
      .mobile-menu-close{
        background: url(../img/svg/cubi_icon_55.svg) no-repeat center;
        background-size: 100%;
      }
      .mobile-menu-open{
        background: url(../img/svg/cubi_icon_56.svg) no-repeat center;
        background-size: 100%;
      }
    }
    .mobile-menu{
      position: absolute;
      background: #fff;
      width: 100%;
      top: 89px;
      left: 0;
      margin: 0px auto;
      right: 0;
      ul{
        margin-top: 30px;
        li{
          text-align: center;
          margin-bottom: 30px;
          a{
            text-decoration: none;
            text-transform: uppercase;
            color: #555655;
            font-size:16px;
          }
        }
        li:nth-child(5){
          position: relative;
          span{
            left: 33%;
            top: 1px;
            position: absolute;
            display: block;
            background: url(../img/svg/cubi_icon_45_percent.svg) no-repeat 0 0;
            width:20px;
            height:20px;
          }
        }
      }
      .triangle-mobile{
        position: absolute;
        width: 100%;
        bottom: -20px;
        height: 30px;
        background: #fff;
        transform: skewY(-1deg);
      }
    }
    .card-top{
      position: absolute;
      display: block;
      background: url(../img/svg/cubi_icon_52.svg) no-repeat left;
      height: 30px;
      width: 75px;
      top: 30px;
      right: -4%;
      .total-goods{
        position: absolute;
        left: 14px;
        display: block;
        top: -2px;
        background: #eda520;
        height: 22px;
        width: 22px;
        font-size:12pt;
        font-family: "Medium";
        text-align: center;
        border-radius: 50%;
        color: #fff;
      }
      .total-price{
        position: absolute;
        right: -10px;
        top: 3px;
        font-size: 16px;
        font-family: "Regular";
      }
    }
  }
}
