.home-page-news{
  #news-carousel{
    height:100%;
    .slide-place{
      margin: 0px auto;
      max-width: 450px;
      padding: 0px 20px 20px 20px;
      margin-top: 50px;
      background: #fff;
      width: 450px;
      height:530px;
      position: relative;
      .degree{
        max-width: 450px;
        width: 450px;
        left: 0px;
        top: -32px;
        z-index: 100;
        transform: skewX(-2.1deg) rotate(-2deg);
        position: absolute;
        .blue{
          height: 20px;
          background: #59718d;
        }
        .white{
          background: #ffffff;
          height:20px;
        }
      }
      .carousel-inner{
        height:460px;
        .item{
          height:100%;
          .slide{
            height:100%;
            background-size: cover !important;
          }
        }
      }
      .news-info{
        position: relative;
        padding-top: 20px;
        .date{
          font-size:16px;
          font-family: "Light";
        }
        .amount-comments{
          right: 35px;
          top:20px;
          position: absolute;
          font-size:16px;
          font-family: "LightIt";
        }
        .amount-comments:after{
          position: absolute;
          content:'';
          top:0;
          right:-30px;
          width:26px;
          height:26px;
          display: block;
          background: url(../img/svg/cubi_icon_37.svg) no-repeat -5px 0px;
          background-size: 130%;
        }
      }
    }
    .col-md-4{
      position: relative;
      color: #fff;
      .news-text{
        height:530px;
        h4{
          margin-top: 20px;
          color:#fff;
          font-size: 30px;
          font-family: "Light";
        }
        .news-description{
          margin-top: 76px;
          .new-description{
            h3{
              font-size:20px;
              color:#fff;
              margin-bottom: 25px;
            }
            p{
              min-height: 180px;
              color: #fff;
              line-height: 30px;
              font-family: "Light";
              font-size: 16px;
            }
          }
        }
        a{
          font-family: "Regular";
          cursor: pointer;
          bottom:40px;
          text-decoration: none;
          font-size:16px;
          border:2px solid #f0a720;
          color: #f0a720;
          padding: 12px 28px;
          -webkit-border-radius:20px;
          -moz-border-radius:20px;
          border-radius:20px;
        }
      }
    }
  }
}

@media only screen and(min-width: 1200px){
  .home-page-news{
    z-index:200 !important;
    height:580px;
    position: relative;
    background: url(../img/news-flower.png) no-repeat 13% 17%,
    url(../img/news-flower.png) no-repeat 51% 19%,
    url(../img/news-flower.png) no-repeat 90% 17%,
    url(../img/news-flower.png) no-repeat 85% 90%,
    url(../img/news-flower.png) no-repeat 4% 90%,
    url(../img/news-flower-squire.png) no-repeat 10% 110%,
    url(../img/news-flower-squire.png) no-repeat 99% 45%,
    url(../img/news-flower-red-squire.png) no-repeat 53% 99%,
    url(../img/news-flower-red-squire.png) no-repeat 5% 45%,
    url(../img/news-flower-red-squire.png) no-repeat 99% 99% #59718d;
    .news-indicators{
      top: 80px;
      left: 40px;
      bottom: 440px;
      li{
        margin: 3px;
      }
    }
  }
  .home-page-news:before{
    z-index:1 !important;
    content: '';
    display: block;
    height: 125px !important;
    background: #59718d;
    position: absolute;
    margin: 0 -15px;
    width: 100%;
    top: -52px !important;
    transform: skewY(-2deg);
  }
}
@media only screen and(max-width: 1199px) and (min-width: 992px){
  .home-page-news{
    z-index:200 !important;
    height:580px;
    position: relative;
    background: url(../img/news-flower.png) no-repeat 23% 10%,
    url(../img/news-flower.png) no-repeat 51% 15%,
    url(../img/news-flower.png) no-repeat 90% 17%,
    url(../img/news-flower.png) no-repeat 85% 90%,
    url(../img/news-flower.png) no-repeat 4% 90%,
    url(../img/news-flower-squire.png) no-repeat 10% 110%,
    url(../img/news-flower-squire.png) no-repeat 99% 45%,
    url(../img/news-flower-red-squire.png) no-repeat 53% 99%,
    url(../img/news-flower-red-squire.png) no-repeat 5% 45%,
    url(../img/news-flower-red-squire.png) no-repeat 99% 99% #59718d;
  }
  .home-page-news:before{
    z-index:1 !important;
    content: '';
    display: block;
    height: 125px !important;
    background: #59718d;
    position: absolute;
    margin: 0 -15px;
    width: 100%;
    top: -52px !important;
    transform: skewY(-1deg);
  }
  .news-indicators{
    position: absolute;
    top: 85px;
    left: 40px;
    bottom: 404px;
    li{
    }
  }
  .news-description{
    min-height: 290px;
  }
  .news-text{
    height:530px;
    h4{
      margin-top: 25px !important;
    }
    .news-description{
      margin-top: 76px !important;
      .new-description{
        h3{
          padding-top: 5px;
          margin-bottom: 25px;
        }
        p{
          min-height: 180px;
        }
      }
    }
    a{
      bottom:40px;
    }
  }
}
@media only screen and(max-width: 991px) and (min-width: 768px){
  .home-page-news{
    background: #59718d;
    .carousel-indicators{
      position: absolute;
      top: 100px;
      left: 40px;
      bottom: 404px;
      li{
        margin: 3px;
      }
    }
    .news-description{
      min-height: 350px;
    }
  }
  .slide-place{
    width:320px !important;
    margin-top: 51px !important;
    .degree{
      width: 320px !important;
    }
  }
  .news-text{
    height:530px;
    .news-indicators{
      position: absolute;
      top: 90px;
      left: 40px;
      bottom: 404px;
    }
    h4{
      margin-top: 25px !important;
    }
    .news-description{
      margin-top: 76px !important;
      .new-description{
        h3{
          padding-top: 5px;
          margin-bottom: 25px;
        }
        p{
          min-height: 180px;
        }
      }
    }
    a{
      bottom:40px;
    }
  }
}
@media only screen and(max-width: 767px){
  .home-page-news{
    background: #59718d;
    .news-text{
      h4{
        text-align: center;
        margin-top: 28px !important;
      }
      .news-indicators{
        position: absolute;
        top: 90px;
        left: 40px;
        bottom: 404px;
      }
      .news-description{
        min-height: 290px;
      }
      a{
        display: block;
        width: 190px;
        margin: 40px auto;
        cursor: pointer;
        bottom: 40px;
        border: 2px solid #f0a720;
        color: #f0a720;
        padding: 12px 0px;
        text-align: center;
        -webkit-border-radius: 20px;
      }
    }
    .slide-place{
      width:100% !important;
      margin-top: 51px !important;
      height: 383px !important;
      .degree{
        width:100% !important;
      }
    }
    .carousel-inner{
      height:320px !important;
    }
  }
}

